<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Watch Out!</title>
  </head>
  <body style="background-color:lightblue;">

    <h1>Neighborhood Watch Program</h1>
      <p> Hey responsible adult! Do you have kids? Are they in pandillas? Do you feel guilty that they are terrorizing your neighborhood? Do you wonder if there is something you can do to help out? Well there is! The Neighborhood Watch Program is a volunteer friendly program in which people can sign up to protect their neighborhood. Volunteers can create an account and sign up for shifts to surveillance the neighborhood of their choosing.
      </p>
    <!-- <form method = "post"> -->
      <p align="center"> Dont have an account? Sign up!
        <button  type="button" onclick="window.location.href='/secondpage'">Sign me up!</button>
      </p>
    <!-- </form> -->

    <!-- <form method = "submit" > -->
      <p align="center"> Already have an account? Sign in!
        <button  type="button" onclick="window.location.href='/sign-in'">Sign-in</button>
      </p>

    <!-- </form> -->
  </body>
</html>
