<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Watch Out!</title>
  </head>
  <body>

    <h1>Neighborhood Watch Program</h1>

    <p> Hey responsible adult! Do you have kids? Are they in pandillas? Do you feel guilty that they are terrorizing your neighborhood? Do you wonder if there is something you can do to help out? Well there is! The Neighborhood Watch Program is a volunteer friendly program in which people can sign up to protect their neighborhood. Volunteers can create an account and sign up for shifts to surveillance the neighborhood of their choosing? </p>
    <p> Dont have an account? Sign up! <input
    <p> Already have an account? Sign in! <input
  </body>
</html>
