<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Main Neighborhood Watch</title>
  </head>
  <body style="font-size: 20px;background-color: #ffe5af">
    <h1 style="">Select Your Preferences</h1>

    <form method = "post">
      <h3>Street:</h3>
      <input type="radio" name="street" value="Rider Ave Salinas California"> Rider Ave Salinas, California<br>
      <input type="radio" name="street" value="Minbrera Way Salinas California"> Minbrera Way Salinas, California<br>
      <input type="radio" name="street" value="Amarillo Way Salinas California"> Amarillo Way Salinas, California<br>
      <input type="radio" name="street" value="Antigua Ave Salinas California"> Antigua Ave Salinas, California<br>
      <input type="radio" name="street" value="La Cuesta Ct. Salinas California"> La Cuesta Ct. Salinas, California<br>
<br>
      <h3>Time:</h3>
      <input type="radio" name="time" value="8:00" > 8:00 p.m.<br>
      <input type="radio" name="time" value="8:30"> 8:30 p.m.<br>
      <input type="radio" name="time" value="9:00"> 9:00 p.m.<br>
      <input type="radio" name="time" value="9:30"> 9:30 p.m.<br>
      <input type="radio" name="time" value="10:00"> 10:00 p.m.<br>
      <input type="radio" name="time" value="10:30"> 10:30 p.m.<br>
<br>

      <button style="font-size:17px" type="button" onclick="window.location.href='/'">Go Back</button>
      <input style="font-size:17px" type="submit" value="Submit">
    </form>
  </body>
</html>
