<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign-in Neighborhood Watch</title>
  </head>
  <body style="background-color:#D3FFCE;">
    <center>
    <h1 style= "font-size: 35px">Sign-in to your Account</h1>

    <form method="post">
      <p style= "font-size: 20px">Email <input type="text" name="user"></p>

      <p style= "font-size: 20px">Password <input type="text" name="pass"></p>

      <button style="font-size:15px" onclick="/secondpage">log-in</button>
    </form>
  </center>
  </body>
</html>
